<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <h1><%= title %></h1>
    <nav>
      <a href="/">Home</a></li>
      <a href="/about">About Us</a>
      <a href="/user/1">User One</a>
  </nav>
  </body>
</html>